:root {
  --main-bg-color: #fffaf6;
  --secondary-bg-color: #fce8db;
  --main-fg-color: #212529;
  --main-fg-color-hovered: #485159;
  --primary: #f2690d;
  --primary-hover: #f38236;
  --secondary: #6c757d;
  --success-bg: #c2f0e4;
  --success-border: #3f8b5a;
  --info-bg: #d9f0fe;
  --info-border: #0dcaf0;
  --error-bg: #fed9d9;
  --error-border: #f00d0d;
  --element-border: #ffc99e;
  --button-fg-color: #212529;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #222222;
    --secondary-bg-color: #2b2b2b;
    --main-fg-color: white;
    --main-fg-color-hovered: #e7e7e7;
    --primary: #8a3f0e;
    --primary-hover: #73340c;
    --secondary: #8e8e8e;
    --success-bg: #355f4c;
    --success-border: #198754;
    --error-bg: #5f3535;
    --error-border: #871919;
    --info-bg: #31404e;
    --info-border: #066a7e;
    --element-border: #3b3b3b;
    --button-fg-color: #fff;
  }
}

* {
  box-sizing: border-box;
}

.margin-bottom {
  margin-bottom: 2rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Noto Sans,
    Liberation Sans, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
    "Noto Color Emoji";

  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
}

a {
  text-decoration: none;
  color: var(--main-fg-color);
  border-bottom: 0.1875rem solid var(--primary);
  margin-bottom: -0.1875rem;
  font-weight: 700;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem 2rem;
  background-color: var(--secondary-bg-color);
  border: 0.0625rem solid var(--element-border);

  min-height: 100vh;
}

textarea {
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;
  min-height: 24ch;
  max-width: 100%;
  padding: 0.5rem;
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
  border: 0.0625rem solid var(--element-border);
  border-radius: 0.3rem;
  font-size: 0.8rem;
}

textarea:focus,
textarea:hover,
textarea:active {
  text-decoration: none;
  border-color: var(--primary);
  outline: none;
  box-shadow: 0 0 0 .25rem var(--secondary-bg-color);
}

textarea:focus-visible {
  box-shadow: 0 0 0 .15rem var(--primary);
}

select {
  width: fit-content;
  padding: 0.25rem;
  background-color: var(--main-bg-color);
  color: var(--main-fg-color);
  border: 0.0625rem solid var(--element-border);
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
}

select:hover,
select:active {
  border-color: var(--primary);
}

select:focus {
  box-shadow: 0 0 0 .15rem var(--primary);
}

#notif {
  background-color: var(--main-bg-color);
  border-radius: 1rem;
  border: 0.0625rem solid var(--element-border);
  margin: 0 0 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
}

#notif.success {
  background-color: var(--success-bg);
  border-color: var(--success-border);
}

#notif.info {
  background-color: var(--info-bg);
  border-color: var(--info-border);
}

#notif.error {
  background-color: var(--error-bg);
  border-color: var(--error-border);
}

#notif.warn {
  background-color: var(--warn-bg);
  border-color: var(--warn-border);
}

code {
  font-size: 1rem;
  font-weight: 600;
}

footer {
  margin-top: 1.25rem;
  text-align: center;
  line-height: 1.75;
}

footer a:hover {
  color: var(--main-fg-color-hovered)
}

nav {
  margin-bottom: 3rem;
}

nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

nav ul li a {
  display: inline-block;
  font-weight: 700;
  border-radius: 0.3rem;
  text-align: center;
  color: #fff;
  border: 0.125rem solid var(--primary);
  background: var(--primary);
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
}

nav ul li a:hover,
nav ul li a:active {
  background: var(--primary-hover);
  border-color: var(--primary-hover)
}