:root {
    --foreground-main: #212529;
    --orange: #f67e08;
    --light-orange: #ffad5c;
    --background-main: rgb(255, 255, 255);
    --background-secondary: var(--light-orange);
    --background-tertiary: rgb(255, 241, 241);
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --gray: #d9d9d9;
    --purple: rgb(169, 64, 255);
    --light-purple: rgb(216, 168, 255);
    --blue: rgb(154, 195, 255);
    --shadow: rgba(0, 0, 0, .35);
    --highlight-orange: var(--light-orange);
    --highlight-purple: var(--light-purple);
    --hightlight-foreground: var(--foreground-main);
    font-size: 16px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-main: rgb(231, 231, 231);
        --background-main: #212529;
        --background-secondary: #191c1f;
        --background-tertiary: #292d31;
        --gray: #3d3e41;
        --shadow: rgba(114, 112, 112, 0.35);
        --highlight-orange: #C75301;
        --highlight-purple: #7B1CD8;
        --highlight-foreground: #fff;
    }
}

body {
    background-color: var(--background-secondary);
    color: var(--foreground-main);
    text-align: center;
    line-height: 1.5;
    font-weight: 400;
    font-family: PT Sans, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    background-color: var(--background-main);
    box-shadow: 0 0.125rem 0.375rem 0 var(--shadow);
    border: .0625em solid var(--gray);
    min-height: 80vh;
    max-width: 80vmin;
    margin: auto;
}

section,
button,
footer {
    font-family: apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Noto Sans, Liberation Sans, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    overflow: hidden;
    text-overflow: ellipsis;
}

#footer {
    margin: auto;
    margin-top: 1.25rem;
    max-width: 95vmin;
    font-size: .875rem;
    box-sizing: border-box;
    background-color: var(--background-main);
    padding: .625rem;
    overflow: hidden;
    text-overflow: ellipsis;
}


h1 {
    font-size: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

a,
a:hover,
a:focus,
a:active {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

a {
    border-bottom: .1875rem solid var(--orange);
    transition: border-bottom-width .1s linear;
}

a:hover {
    border-bottom-width: .0.675rem;
}

#filterbox {
    box-shadow: 0 0.125rem 0.375rem 0 var(--shadow);
    border: 0.0625rem solid var(--gray);
    background-color: var(--background-main);
    width: 80%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 1.5rem;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
}

#filterbox header {
    flex: 1;
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 700;
    margin-bottom: .75em;
}

#filters {
    flex: 2;
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    justify-content: center;
}

#filters .filter {
    display: flex;
    align-items: center;
    background-color: var(--background-tertiary);
    color: var(--foreground-main);
    border: none;
    cursor: pointer;
    border-radius: .125em;
    height: 1.5em;
    font-size: 1.125em;
    border: .0625em solid var(--gray);
    margin: .0625em;
    margin-left: .625em;
    padding: .625em;
}

#filters .filter[class*=active-filter] {
    font-weight: bold;
    color: black;
}

#filters .filter[class*=active-filter][class*=plugin] {
    background: var(--light-orange);
    box-shadow: 0 0 .25em 0 var(--light-orange);
    border: .0625em solid var(--light-orange);
}

#filters .filter[class*=active-filter][class*=theme] {
    background: var(--light-purple);
    box-shadow: 0 0 .25em 0 var(--light-purple);
    border: .0625em solid var(--light-purple);
}

#searchbox {
    margin: auto;
    margin-top: 0;
    margin-bottom: 1.5rem;
    width: calc(80% + 1.5rem);
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    box-shadow: 0 .125em .375em 0 var(--shadow);
}

#searchbox * {
    border: 0;
}

#searchform {
    width: 100%;
    display: flex;
    min-height: 3em;
    background-color: var(--background-main);
}

#searchinput {
    width: 90%;
    flex: 1 calc(90% - 1.250em);
    padding: 0.625em;
    font-size: 1.5em;
    background-color: var(--background-main);
    color: var(--foreground-main);
}

#searchsubmit {
    flex: 2;
    font-size: 1.5em;
    background-color: var(--background-main);
    color: var(--foreground-main);
    align-items: center;
    justify-content: center;
    width: 10%;
}

#searchsubmit:hover {
    cursor: pointer;
}

#searchinput:not(:disabled):focus {
    outline: none;
    border-left: .0625em solid var(--orange);
    border-top: .0625em solid var(--orange);
    border-bottom: .0625em solid var(--orange);
}

#searchinput:not(:disabled):focus+#searchsubmit {
    outline: none;
    border-right: .0625em solid var(--orange);
    border-top: .0625em solid var(--orange);
    border-bottom: .0625em solid var(--orange);
}

#searchinput:disabled,
#searchsubmit:disabled {
    background-color: var(--gray);
    color: var(--shadow);
    outline: none;
}

#extensions {
    display: flex;
    flex-direction: column;
}


.extension {
    border: .0625em solid var(--gray);
    box-sizing: border-box;
    box-shadow: 0 .125em .375em 0 var(--shadow);
    width: 100%;
    min-height: 11.5625em;
    margin: auto;
    margin-bottom: 2.5em;
    padding: .625em;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}

.extension header {
    flex: 1 100%;
    flex-wrap: wrap;
    width: 100%;
}

.extension header h4 {
    margin: 0 0 1.25em 0;
    font-size: 2em;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.extension footer {
    text-align: center;
    line-height: 1;
    font-size: .875em;
    flex: 1 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin-bottom: 1.25em;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tag {
    display: flex;
    border: .0625em solid var(--orange);
    border-radius: .625em;
    margin: 0 .3125em;
    font-size: .875em;
    padding: 0 .625em;
    min-height: 1.5625em;
    align-items: center;
    width: fit-content;
}

.plugin .tag {
    border: .0625em solid var(--light-orange);
}

.theme .tag {
    border: .0625em solid var(--light-purple);
}

.theme .external-links a:hover {
    color: var(--purple);
}

.description {
    flex: 1 100%;
    font-size: 1.125em;
    margin: 1.25em 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    font-size: 2em;
    justify-content: space-between;
}

.type {
    display: flex;
    flex-basis: 10%;
    justify-content: left;
}

.plugin .type {
    color: var(--light-orange);
}

.theme .type {
    color: var(--light-purple);
}

.theme a {
    border-bottom: .1875em solid var(--purple);
    transition: border-bottom-width .1s linear;
}

.theme a:hover {
    border-bottom-width: .0625em;
}

.plugin a {
    border-bottom: .1875em solid var(--orange);
    transition: border-bottom-width .1s linear;
}

.plugin a:hover {
    border-bottom-width: .0625em;
}

.external-links {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.external-links a {
    display: flex;
    text-transform: none;
    text-decoration: none;
    border: none;
    margin-left: .4375em;
    margin-bottom: .625em;
}

.external-links a:hover {
    color: var(--orange);
}

.author,
.version {
    font-weight: bolder;
}

#information-message {
    display: none;
    border: .0625em solid var(--light-orange);
    margin-bottom: 2.5em;
    padding: 1.25em;
    font-size: 1.125em;

    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#information-message p {
    display: flex;
    text-align: justify;
    margin: auto;
    font-weight: bolder;
}

@keyframes loading {
    0% {
        box-shadow: 0 0 .375em .125em var(--light-orange);
    }

    50% {
        box-shadow: 0 0 .375em .125em var(--orange);
    }

    100% {
        box-shadow: 0 0 .375em .125em var(--light-orange);
    }
}

.highlight {
    color: var(--highlight-foreground);
}

article[class*="plugin"] .highlight {
    background-color: var(--highlight-orange);
}

article[class*="theme"] .highlight {
    background-color: var(--highlight-purple);
}

#stats {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}